*{
    background-color: blueviolet;
}
#greycol{
    color: grey;
}
div>h3{
color: pink;
}
.yellow{
    color: yellow;
}
div+div>p{
    color: red;
}
div+h3{
    color: 1000;
}
h3+p{
    color: 1000;
}
div+div+h3+p{
    color: green;
}
